<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743276555803-o8elkq8om231558cpnriabcojsul3bkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743276555803-o8elkq8om231558cpnriabcojsul3bkd</string>
	<key>API_KEY</key>
	<string>AIzaSyCTWoBqvfctfFzcbptR7yA_ns9Zmno8fPM</string>
	<key>GCM_SENDER_ID</key>
	<string>743276555803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-96a0e</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-96a0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743276555803:ios:bf0e8a5f60b20066c3d2be</string>
</dict>
</plist>